html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.customlink {
  display: inline-block;
  position: relative;
  color: #007bff; /* Set the default color of the links */
}

.customlink:hover {
  color: #0056b3; /* Set the color of the links when the user hovers over them */
}

.customlink:hover::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #0056b3;
  border-left: 2px solid #0056b3;
  transform: translateY(-50%) rotate(-45deg);
}

.customlink:hover::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #0056b3;
  border-right: 2px solid #0056b3;
  transform: translateY(-50%) rotate(45deg);
}


/* Comments 
.comment {
  border: 1px solid #007bff;
}

.item-name {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.text-primary {
  color: #007bff;
}

.delivery-date {
  color: #6c757d;
  font-size: 0.8rem;
}

.badge-admin {
  background-color: #dc3545;
}

.badge-vendor {
  background-color: #007bff;
}

.badge-trader {
  background-color: #28a745;
}

.badge-default {
  background-color: #6c757d;
} */